<% var path = current.path; %>
<% path.pop(); %>
<% path = path.join("/"); %>
<!doctype html>
<html class="no-js" lang="en">
<head>
    <%- partial("_includes/common_head", {"path": path}) %>
    <link rel="stylesheet" href="/stylesheets/mastodon-timeline.css">
</head>
<body>

  <div class="header">
      <%- partial("_includes/header") %>
  </div>
  
  <% if(public.posts._data[path]) { %>
    <%- partial("/_post", {"path": path}) %>
  <% } else { %>
      <%- yield %>
  <% } %>

	<footer>
      <div class="container">
        <%- partial("_includes/footer") %>
      </div>
	</footer>
  </body>
</html>
