<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <%- partial("_includes/common_head") %>
</head>
<body>

  <header>
    <div class="container">
        <%- partial("_includes/header") %>
    </div>
  </header>
  <% var path = current.path; %>
  <% path.pop(); %>
  <% path = path.join("/"); %>
  <div class="container main">
    <% if(public.posts._data[path]) { %>
      <%- partial("/_post", {"path": path}) %>
    <% } else { %>
        <%- yield %>
    <% } %>
  </div>

	<footer>
      <div class="container">
        <%- partial("_includes/footer") %>
      </div>
	</footer>
  </body>
</html>
